ul li {
  text-decoration: none;
  list-style: none;
}
body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(92, 80, 80);
}
nav {
  display: flex;
}
.leftnav,
.rifgtnav {
  width: 20%rm;
  height: 100%;
  border: 2px oldlace solid;
}
.midnav {
  width: 60%;
}
section {
  display: flex;
}
